.woocommerce-message,
.woocommerce-error {
	margin-bottom: $twentyfive;
	padding: $fifteen 0;
	text-align: center;
	a {
		color: $white;
		&:hover {
			background: transparent;
			color: $white;
			text-decoration: underline;
		}
	}
}
.woocommerce-error {
	background: #9d2929;
	color: $white;
}
.woocommerce-message {
	background: $eggplant;
	color: $white;
}

.page.woocommerce-cart {
	.content-area {
		padding-top: 0;
		.page-content-container {
			.page-content{
				.shop_table {
					margin-bottom: $fifty;
					.row {
						@include row();
						border-bottom: 1px solid $medium-gray;
						margin-bottom: $fifteen;
						.section-title {
							font-weight: 900;
						}
						a {
							font-weight: 400;
						}
						.product-remove {
							@include media( $large-screen ) {
								@include span-columns(1);
							}
						}
						.product-thumbnail {
							@include media( $large-screen ) {
								@include span-columns(2);
							}
							img {
								height: auto;
							}
						}
						.product-name {
							@include span-columns(6);
							@include media( $mobile-screen ) {
								margin-bottom: $fifteen;
							}
							@include media( $large-screen ) {
								@include span-columns(3);
							}
						}
						.product-price {
							@include span-columns(6);
							@include omega;
							@include media( $mobile-screen ) {
								margin-bottom: $fifteen;
								text-align: right;
							}
							@include media( $large-screen ) {
								@include span-columns(2);
							}
						}
						.product-quantity {
							@include span-columns(6);
							@include media( $large-screen ) {
								@include span-columns(2);
							}
							input {
								width: 50%;
							}
						}
						.product-subtotal {
							@include span-columns(6);
							@include omega;
							@include media( $mobile-screen ) {
								text-align: right;
							}
							@include media( $large-screen ) {
								@include span-columns(2);
							}
						}
					}
					.bundle_table_item {
						.product-total {
							vertical-align: top;
						}
					}
					.bundled_table_item {
						.product-remove {
							visibility: hidden;
						}
						.product-thumbnail {
							img {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

.bottom-of-cart {
	@include row();
	@include media( $large-screen ) {
		padding-top: $fifty;
	}
	.coupons {
		@include media( $large-screen ) {
			@include span-columns(6);
		}
		.coupon {
			margin-bottom: $twentyfive;
			width: 50%;
			input[type="submit"] {
				background: $medium-gray;
				&:hover {
					background: $marv;
				}
			}
		}
		.update-cart {
			margin-bottom: $twentyfive;
			input[type="submit"] {
				background: $medium-gray;
				&:hover {
					background: $marv;
				}
			}
		}
	}
	.cart-collaterals {
		@include media( $large-screen ) {
			@include span-columns(6);
		}
		#shipping_method {
			label {
				display: inline;
			}
		}
		.wc-proceed-to-checkout {
			@include row();
			margin: $twentyfive 0;
		}
	}
}

.page.woocommerce-checkout {
	.content-area {
		.page-content-container {
			.page-content {
				@include span-columns(12);
				margin-left: 0;
				.woocommerce-info {
					@include row();
					margin-bottom: $twentyfive;
				}
				.checkout_coupon {
					input[type="text"] {
						width: 25%;
					}
					input[type="submit"] {
						background: $medium-gray;
						margin-bottom: $twentyfive;
					}
				}
				.checkout {
					@include row();
					.customer-information {
						@include media( $large-screen ) {
							@include span-columns(6);
						}
					}
					.gift-certificate {
						.show_hide_list {
							label {
								display: inline;
							}
						}
					}
					.gift-certificate,
					.review-order {
						@include media( $large-screen ) {
							@include span-columns(6);
							@include omega;
						}
						label[for=""] {
							@include row();
							img {
								display: inline-block;
								width: 14%;
							}
						}
						.payment_methods {
							li {
								.shipping-method-label {
									display: block;
								}
								&.payment_method_paypal {
									img {
										width: 50%;
									}
									.about_paypal {
										display: block;
									}
								}
							}
						}
					}
					.review-order {
						.shipping {
							label {
								display: inline;
							}
						}
					}
				}
				.terms {
					margin-top: $ten;
					label {
						display: inline;
					}
				}
			}
		}
	}
}

.woocommerce-page {
	.page-content-container {
		margin-top: 0;
		@include media( $large-screen ) {
			.col-1 {
				@include span-columns(5);
			}
			.col-2 {
				@include span-columns(5);
				@include shift(2);
			}
		}
		#customer_login {
			label[for="rememberme"] {
				float: right;
			}
		}
		.lost_password {
			font-size: 12px;
		}
	}
}

.woocommerce-account {
	.login {
	}
}
